name: Continuous Deployment

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Balena Push
      uses: bekriebel/balena-cli-action@v1.0.1
      with:
        balena_api_token: ${{ secrets.BALENA_API_TOKEN }}
        balena_command: push WordClock
